// colors
$color-primary: rgb(38, 116, 52);
$color-title: #994F83;
$color-header-light-bg: #f8e2b9;
// spacing
$navbar-height: 80px;
$navbar-small-height: 45px;
$navbar-padding: 0 20px;

$navlink-margin-left: 20px;

$toggle-width: 70px;
$toggle-height: 28px;
$toggle-border-radious: 20px;
$toggle-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);

// typography
