@import "~/src/styles/variables";

.header {
    height: 115vh;
    position: relative;
    background-image: url("~/public/images/fullbgtest.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
      // background-position: right 72% bottom 0;
  }
